.on {
  color: var(--fill-color);
}

.off {
  color: var(--empty-color);
}

.good-style{
  color:red;
}

.star-btn{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}